# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Database
*.sqlite3

# Media / Uploads
media/
uploads/

# Data / Model checkpoints
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
